* {
    margin: 0;
    padding: 0;
}
html body {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}
.menu ul {
    display: inline-flex;
    margin: 40px;
}
.menu ul li {
    list-style: none;
    margin: 0 30px;
    color:#D6D7EB;
    cursor: pointer;
    margin-top: 20px;
}
.profilkep img {
    width: 120px;
    position: absolute;
    top: calc(5% - 35px);
    left: calc(59.5% - 255px);
    padding: 0;
    border-radius: 60px;
}
.your {
    font-weight: bold;
    margin-top: 1px;
}
.nev h1 {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    top: calc(20% - 35px);
    left: calc(55% - 255px);
}
.nev h3 {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    top: calc(24% - 35px);
    left: calc(59.4% - 255px);
}
.social {
    padding: 1.6rem 3rem;
    font-size: 30px;
    position: absolute;
    top: calc(2% - 10px);
    left: calc(87% - 10px);
}
.social a {
    color: #000000;
}
.card1 {
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
    margin: 40px;
    position: absolute;
    top: calc(56% - 35px);
    left: calc(35% - 255px);
}
.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
    background-color: #009578;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.iskola {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
}
.ev {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
}
.gomb {
    text-align: center;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    border-radius: 8px;
    border: 2px solid #009578;
    padding: 2px;
    color: #009578;
    font-weight: bold;
    position: absolute;
    top: calc(95% - 35px);
    left: calc(30% - 10px);
}
.gomb:hover {
    color: white;
    background-color: #009578;
    transition: 1s ease;
}
#tanulmanyok {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    position: absolute;
    top: calc(45% - 35px);
    left: calc(56.5% - 255px);
}
.card2 {
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
    margin: 40px;
    position: absolute;
    top: calc(55% - 35px);
    left: calc(54.5% - 255px);
}
.card3 {
    width: 20%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    display: inline-block;
    margin: 40px;
    position: absolute;
    top: calc(56% - 35px);
    left: calc(74% - 255px);
}
#hobbik {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    position: absolute;
    top: calc(95% - 10px);
    left: calc(60% - 255px);
}
#jatek {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    position: absolute;
    top: calc(110% - 10px);
    left: calc(25% - 255px); 
}
#leirasa {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(113.5% - 10px);
    left: calc(25% - 255px);
    font-weight: 400;
}
#program {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    position: absolute;
    top: calc(120% - 10px);
    left: calc(95% - 255px); 
}
#leirasa2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(123.5% - 10px);
    left: calc(35% - 255px);
    font-weight: 400;
    text-align: right;
}
#tervek {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    position: absolute;
    top: calc(145% - 10px);
    left: calc(60% - 255px);
}
#videogames {
    width: 80px;
    position: absolute;
    top: calc(114% - 35px);
    left: calc(20% - 255px);
    padding: 0;
    border-radius: 60px;
}
#coding {
    width: 80px;
    position: absolute;
    top: calc(123.7% - 35px);
    left: calc(106% - 255px);
    padding: 0;
    border-radius: 60px;
}
#ev10 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    position: absolute;
    top: calc(149% - 10px);
    left: calc(51.6% - 255px);
}
#terv1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(160% - 10px);
    left: calc(25% - 255px);
    font-weight: 400;
}
#tervpic1 {
    width: 100px;
    position: absolute;
    top: calc(161% - 35px);
    left: calc(19.7% - 255px);
    padding: 0;
    border-radius: 60px;
}
#terv2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    position: absolute;
    top: calc(170% - 10px);
    left: calc(63% - 255px);
    font-weight: 400;
    text-align: right;
}
#tervpic2 {
    width: 85px;
    position: absolute;
    top: calc(173% - 35px);
    left: calc(106.2% - 255px);
    padding: 0;
    border-radius: 60px;
}
.footer {
    padding: 16px;
    bottom: 0;
    left: 0;
    color: black;
    text-align: center;
    width: 100%;
    background-color: #F0F0F0;
    position: fixed;
    font-family: 'Quicksand', sans-serif;

}
h5 {
    position: absolute;
    top: calc(187% - 35px);
    left: calc(65.4% - 255px);
    font-family: 'Quicksand', sans-serif;
    font-size: 6px;
}